<div class="inner960">
	<%= render partial:"components/banner/index" %>
	<%= render partial:"components/navbar/index" %>
	<%= render partial:"components/aboutus/index" %>
	<div class="agend_guest clearfix">
		<div class="agend">
			<%= render partial:"components/agenda/index" %>
		</div>
		<div class="financial">
			<%= render partial:"components/financial/index" %>
		</div>
	</div>
	<%= render partial:"components/guest/index" %>
	<%= render partial:"components/footer/index" %>
</div>